[submodule "Game-loop-handler-for-SFML"]
	path = Game-loop-handler-for-SFML
	url = https://github.com/Zwo1in/Game-loop-handler-for-SFML.git
[submodule "Colsion-detection-based-on-SAT"]
	path = Colsion-detection-based-on-SAT
	url = https://github.com/Zwo1in/Colsion-detection-based-on-SAT
